<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kimle.michal.android.taxitwin"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="17" />
    <permission
        android:name="kimle.michal.android.taxitwin.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission android:name="kimle.michal.android.taxitwin.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="kimle.michal.android.taxitwin.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="kimle.michal.android.taxitwin.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="false">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="kimle.michal.android.taxitwin.ACTION_TAXITWIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="kimle.michal.android.taxitwin.CATEGORY_DATA_CHANGED" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OfferDetailActivity"
                  android:label="@string/offer_detail"
                  android:parentActivityName="kimle.michal.android.taxitwin.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kimle.michal.android.taxitwin.activity.MainActivity" />
        </activity>
        <provider
            android:name="kimle.michal.android.taxitwin.contentprovider.TaxiTwinContentProvider"
            android:authorities="kimle.michal.android.taxitwin.contentprovider" >
        </provider>
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="kimle.michal.android.taxitwin" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA01DVW6mBjyvuzoNA0liJok9qeZGVTXrc" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
</manifest>
